/* CSS Reset - Eric Meyer */
html, body, div, span, h1, h2, h3, p, img, iframe, hr {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}